# Compilação e Binários do .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/

# VS Code / Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações locais e credenciais sensíveis
appsettings.json
appsettings.Development.json
appsettings.Production.json
*.log

# Permitir apenas o ficheiro de exemplo no Git
!appsettings.Example.json